body {
    margin: 0px;
}

#toolbar {
    height: 20px;
    border-bottom: 1px solid #a0a0a0;
}

#canvas-container {
    overflow: auto;
    width: 100%;
    background-color: #808080;
    flex-grow: 1;
    position: relative;
}

#canvas-container img {
    cursor: crosshair
}

#canvas-container > * {
    position: absolute
}

#canvas-container .annotation{
    background: red
}

#wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

