body {
    margin: 0px;
}

#toolbar {
    height: 20px;
    border-bottom: 1px solid #a0a0a0;
}

#canvas-container {
    overflow: auto;
    width: 100%;
    background-color: #808080;
    flex-grow: 1;
    position: relative;
}

#canvas-container img {
    cursor: crosshair
}

#canvas-container > * {
    position: absolute
}

#canvas-container .annotation{
    background: rgba(255, 0, 0, 0.2);
    border:1px solid red;
    pointer-events: none;
    opacity: 0.5;
}

#canvas-container .annotation:hover, #canvas-container .annotation.selected {
    opacity: 0.7;
}

#canvas-container > .annotation > .label {
    padding: 10px;
    color: red;
    font-family: sans-serif;
    font-size: 10px;
    display: block
}

#wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.label-editor {
    border: none;
    padding: 0px;
    background: transparent;
    min-width: 100px;
    text-align: center
}

.label-editor:focus {
    outline: none
}

.resize-tab {
    width: 10px;
    height: 10px;
    border:1px solid black;
    background: white;
    position: absolute
}